<% include header %>

<h1 class="home"><a href="/">&#9673;<span>back</span></a></h1>
<h2><a href="/">kolormuzeum declares the following:</a></h2>

<h2><span></span> 404</h2>

<section>
<p class="summary">This leads to nowhere, quick, go back to where you came from</p>
</section>

<% include footer %>
