<% include header %>

<h1><a href="/"><< back to</a> kristo<strong>.</strong>f<strong>m</strong></h1>
<h3>Personal site of <a href="/about">Kristof Michiels</a></h3>

<h2><span>Resource not found</span> :</h2>

<section>
<p>I am sorry but this resource has not been found</p>
</section>

<% include footer %>
