  <footer>
    <a href="https://evening-forest-92636.herokuapp.com/">made by Raf Van Delm 2017 - view on Heroku</a>
  </footer>
  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>
