<!doctype html>
<html>
	<head>
		<title>Kolormuzeum</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Arvo|Miriam+Libre|Roboto+Slab|Rubik+Mono+One|Josefin+Sans" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="onderknop">

		</div>
