body {
}
a{
  color: rgb(34, 36, 37);
  text-decoration: none;
}
.container{
  width: 85%;
  margin: auto;
}
.navknop{
  z-index: 100;
  color: white;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 40px;
  position: fixed;
  z-index: 5;
  width: 50px;
  height: 50px;
  background-color: rgb(34, 36, 37);
  top: 0;
  padding-top: 5px;
  text-align: center;
  box-sizing: border-box;
  outline: solid rgba(255, 255, 255, 0.5) 5px;
}
p.navclose{
  transition: 0.5s ease;
  font-size: 17px;
  top: 100px;
  left: -250px;
  color: white;
  font-family: 'Roboto Slab', sans-serif;
  position: fixed;
  text-align: center;
  width: 80%;
  z-index: 101;
}
nav{
  width: 100%;
  z-index: 100;
  font-family: 'Arvo', serif;
  position: fixed;
  top: 50px;
  left: 100vw;
  display: grid;
  grid-template-rows: calc(100vw / 3) calc(100vw / 3) calc(100vw / 3) ;
  grid-template-columns: calc(100vw / 3) calc(100vw / 3) calc(100vw / 3);

}
h1.index{
  z-index: 0;
  font-family: 'Rubik Mono One', sans-serif;
  box-sizing: border-box;
  font-size: 125px;
  position: relative;
  color: white;
  text-align: center;
}
.kolor{
  width: 85%;
  left: 7.5%;
  text-align: center;
  bottom: -10px;
  position: absolute;
  font-size: 25px;
}
section{
  position: relative;
  min-height: 400px;
  line-height: 1.4em;
  background: rgba(34, 36, 37,0.05);
}
section:last-child{
  margin-bottom: 20px;
}
h2{
  padding: 10px;
  box-sizing: border-box;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: 'Arvo', serif;
}
p.date{
  font-weight: bolder;
  padding-top: 5px;
  padding-left: 10px;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
p.summary{
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
p.parabody{
  font-family: 'Josefin Sans', sans-serif;
  width: 85%;
  margin: auto;
  margin-top: 20px;
}
p.category{
  font-family: 'Rubik Mono One', sans-serif;
}
h4{
  position: absolute;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 120px;
  color: rgb(34, 36, 37);
  height: 100px;
  width: 80%;
  left: 10%;
  top: 150px;
  text-align: center;
}
.home{
  width: 100%;
  height: 50px;
  background-color: rgb(34, 36, 37);
  position: relative;
}
.home a{
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: 'Roboto Slab', serif;
}
.home a span{
  font-size: 20px;
  position: absolute;
  left: 50px;
  top: 15px;
}
img{
  width: 100%;
}
.cattitle{
  font-size: 30px;
}

.banner{
  transition: 2s ease-out;
  width: 85%;
  margin: auto;
  margin-top: 25px;
  height: 150px;
  position: relative;

}
.animation{
  z-index: -5;
  top: 0;
  width: 100%;
  height: 150px;
  position: absolute;
  overflow: hidden;
  background: rgb(255, 195, 0);
}
.ani1{
  top: 0;
  background: rgb(141, 178, 65);
  width: 20%;
  height: 150px;
  float: left;
  animation: ani1 3s ease 2s infinite alternate;
}
.ani2{
  top: 0;
  background: rgb(65, 141, 178);
  width: 20%;
  height: 150px;
  float: left;
  animation: ani2 3s ease 2s infinite alternate;
}
.ani3{
  top: 0;
  background: rgb(34, 36, 37);
  width: 20%;
  height: 150px;
  float: left;
  animation: ani3 3s ease 2s infinite alternate;
}
.ani4{
  top: 0;
  background: rgb(255, 87, 51);
  width: 20%;
  height: 150px;
  float: left;
  animation: ani4 3s ease 2s infinite alternate;
}
.blue{
  background-color: rgb(65, 141, 178);
}
.pink{
  background-color:rgb(243, 35, 102);
}
.red{
  background: rgb(255, 87, 51);
}
.yellow{
  background: rgb(255, 195, 0);
}
.green{
  background: rgb(141, 178, 65);
}
.black-and-white{
  background: rgb(34, 36, 37);
}
.black-and-white a{
    color: white;
}
.coming-soon{
  pointer-events: none;
  background: repeating-linear-gradient(
  135deg,
  white,
  white calc(100vw / 4 - 4px),
  rgb(234, 236, 237) calc(100vw / 4 - 4px),
  rgb(234, 236, 237) calc(100vw / 2)
);
}
nav a.black-and-white{
  background: repeating-linear-gradient(
  135deg,
  white,
  white calc(100vw / 4 - 4px),
  rgb(34, 36, 37) calc(100vw / 4 - 4px),
  rgb(34, 36, 37) calc(100vw / 2)
);
}
.black-and-white{
  box-sizing: border-box;
  color: rgb(34, 36, 37);
  font-size: 20px;
}
h2.black-and-white{
    color: white;
}
/*
font-family: 'Miriam Libre', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Arvo', serif;
font-family: 'Josefin Sans', sans-serif;
*/
@keyframes ani1{
  0%   {width: 2%}
  25%  {width: 40%}
  50%  {width: 10%}
  100% {width: 2%}
}
@keyframes ani2{
  0%   {width: 30%}
  25%  {width: 15%}
  50%  {width: 35%}
  100% {width: 50%}
}
@keyframes ani3{
  0%   {width: 10%}
  25%  {width: 20%}
  50%  {width: 40%}
  100% {width: 5%}
}
@keyframes ani4{
  0%   {width: 30%}
  25%  {width: 20%}
  50%  {width: 10%}
  100% {width: 15%}
}
footer{
  width: 85%;
  margin: auto;
  height: 75px;
  background: rgb(34, 36, 37);
  position: relative;
}
footer a{
  position: absolute;
  bottom: 10px;
  left: 7.5%;
  font-size: 15px;
  font-family: 'Miriam Libre', sans-serif;
  color: white;
  width: 85%;
  text-align: center;
}
